RewriteEngine On

# .html uzantısını kaldır
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]

# index.html dosyasını ana domainden kaldır
RewriteRule ^index\.html$ / [R=301,L]

# Diğer .html dosyalarını kalıcı olarak yönlendir
RewriteCond %{THE_REQUEST} \s/+(.+?)\.html[\s?] [NC]
RewriteRule ^ /%1 [R=301,L]
